<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
--菜单显示--
<table >
            <tbody >
            {% if menu_history.has_key('menu') %}

            {% for button in menu_history['menu']['button'] %}

            <tr>
              <td >
                <div>
                  <input type="text" value="{{button.get('name', '')}}">
                    URL:<input type="text" value= "{%if button.has_key('url') %}{{ button['url'] }}{%end%}">

                </div>
                <div >

                  {% for sub_button in button['sub_button'] %}

                  <div>
                   &nbsp; &nbsp;&nbsp; &nbsp; <input type="text" value="{{ sub_button.get('name', '') }}"> &nbsp; &nbsp;

                    URL:<input type="text" value= "{%if sub_button.has_key('url') %}{{ sub_button['url'] }}{%end%}">

                  </div>
                  {% end %}

                </div>
              </td>
            </tr>
            {% end %}

            {% end %}
            </tbody>
          </table>
<form action='menu?m=menusave' method="post">
<br><br>
--新菜单--
<table >
            <tbody >
            {%for i in range(3)%}

            <tr>
              <td >
                <div>
                  <input type="text" id={{"name"+str(i)}} name ={{"name"+str(i)}}>
                    URL:<input type="text" id = {{"url"+str(i)}} name ={{"url"+str(i)}} >

                </div>
                <div >

                    {%for j in range(5)%}

                    <div>
                   &nbsp; &nbsp;&nbsp; &nbsp; <input type="text" id = {{"name"+str(i)+str(j)}} name ={{"name"+str(i)+str(j)}}> &nbsp; &nbsp;
                    URL:<input type="text"id = {{"url"+str(i)+str(j)}} name = {{"url"+str(i)+str(j)}} >

                  </div>
                    {%end%}
                </div>
              </td>
            </tr>

            {% end %}
            </tbody>
          </table>
        <br>
<input type="submit" value="确认修改" >

</form>
</body>
</html>